<!DOCTYPE html>

<html>

<head>
    <title>Vue Practice</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="name in names">{{ name }}</li>
            <!-- <li v-for="name in names" v-text="name"></li> -->
        </ul>

        <input type="text" id="input">

        <button id="button" type="button">이름 추가</button>
    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                names: ['휘', '철수', '현주', '영희']
            },

            // onload
            mounted() {
                document.querySelector('#button').addEventListener('click', () => {
                    let name = document.querySelector('#input')

                    app.names.push(name.value);

                    name.value = '';

                    document.querySelector('#input').focus();
                });
            }
        });
    </script>
</body>

</html>